/* ---------- Document Normalize and Structure ---------- */

@import "node_modules/modern-normalize/modern-normalize.css";
@import "/assets/structureStyle.css";

/* ---------- Form ---------- */

#contact-form{
    padding: 2rem;
}

.form-row {
	margin-bottom: 10px;
}

.form-input {
	display: block;
}

.form-error {
	color: red;
}


/* ---------- Placeholder Sections ---------- */

.placeholderSection {
	outline: auto lightblue;
	height: 500px;
    padding: 2rem;
}