/* ---------- Document Normalize and Structure ---------- */

@import "node_modules/modern-normalize/modern-normalize.css";
@import "/assets/structureStyle.css";


.galleryHero{
    position: relative;
    margin-top: -128px;
    height: fit-content;
    width: 100%;
    padding: 4rem;
    outline: auto red;
}


.heroImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* ---------- Form ---------- */

#contact-form{
    padding: 2rem;
}

.form-row {
	margin-bottom: 10px;
}

.form-input {
	display: block;
}

.form-error {
	color: red;
}


/* ---------- Placeholder Sections ---------- */

.placeholderSection {
	outline: auto lightblue;
	height: 500px;
    padding: 2rem;
}