/* ---------- Document Normalize and Structure ---------- */

@import "node_modules/modern-normalize/modern-normalize.css";

html {
    outline: auto black;
    background-color: white;
    font-family: "Open Sans", sans-serif;
    --normalFontSize: 24px;
}

main {
    margin: 2rem;
    outline: auto blue;
}

ol,
ul {
	list-style: none;
	padding-inline: 0;
}

img {
	display: block;
	max-inline-size: 100%;
}

/* ---------- Header and Navigation ---------- */

header {
	position: sticky;
	top: 25px;
	margin: 0px 2rem 2rem 2rem;
	z-index: 10;
    background-color: rgba(35, 35, 50, 0.5);
	backdrop-filter: blur(10px);
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
	text-align: center;
	border-radius: 20px;
    outline:solid 2px rgba(255,255,255,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
	display: flex;
    align-items:center;
    text-align: center;
    padding: 0.8rem;
    border-radius: 20px;
    color: white;
}

.navLinks {
	font-size: 20px;
    font-weight: 600;
	display: flex;
	list-style:none;
    letter-spacing: 1px;
	gap: 30px;
    justify-content: center;
}

.navLinks a{
	text-decoration: none;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
	color: white;
}

.homeLogo {
    position: absolute;
    left: 30px;
    display: flex;
    align-items: center;
}




/* --- Gallery Section --- */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 20px;
    padding: 20px;
    overflow-x: auto;
}

.gallery-item {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    height: 300px; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent; 
    border: none; 
    scroll-snap-align: center;
}

.gallery-item:hover {
    transform: scale(1.5);
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
    display: block;
}
