/* ---------- Document Normalize and Structure ---------- */
@import "node_modules/modern-normalize/modern-normalize.css";
@import "/assets/structureStyle.css";

/* ---------- Hero Section ---------- */

section.galleryHero {
	padding: 0;
	position: relative;
	margin-top: -128px;
	height: 8rem;
	width: auto;
	background-color: transparent;
	z-index: 9;
}

.heroImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.9;
}

/* --- Gallery Section --- */

.gallery {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 20px;
	margin: 2rem;
	overflow-x: auto;
}

.gallery-item {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	transition: transform 0.2s ease-in-out;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border: none;
	scroll-snap-align: center;
}

.gallery-item:hover {
	transform: scale(1.5);
}

.gallery-item img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	display: block;
}