
@import "node_modules/modern-normalize/modern-normalize.css";

html {
	outline: auto black;
    background-color: white;

	/* --- Variables --- */
    font-family: 'Times New Roman', Times, serif;
    --normalFontSize: 24px;
  /*--bgColor:;
    --secondaryBgColor:;
    --navColor:;
    --primaryColor:;
    --secondaryColor:;
    --tertiaryColor:;
    --primaryShadow:; 
    --transition:; */

}

header {
	outline: auto red;
}

main {
	outline: auto blue;
}

header {
    color: white;
    position: sticky;
    top: 0;
    background-color: #2b2c55; /* Dark background */
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(35, 35, 59, 0.2);

}

