/* ---------- Document Structure ---------- */

html {
    scroll-behavior:smooth;
	outline: auto black;
	/* background-color: rgb(235, 235, 235); */
    background-color: rgba(188, 227, 250,0.1);

	/* --- Variables --- */
	font-family: "Open Sans", sans-serif;
	--normalFontSize: 24px;

	--darkBlue: rgb(35, 35, 59);
    --lightBlue: rgb(76,104,171);
    --headerColor: rgba(44, 66, 104);

    --heroHeight: 10vh;
	/*--bgColor:;
    --secondaryBgColor:;
    --navColor:;
    --primaryColor:;
    --secondaryColor:;
    --tertiaryColor:;
    --primaryShadow:; 
    --transition:; */
}

header {
	/* outline: auto red; */
}

main {
    /* padding: 2rem; */
	/* outline: auto blue; */
}

section,
form {
    /* outline: auto purple; */
	padding: 0.5rem;
}


h1 {
    margin: 0;
}

h2{
    /* outline: auto red; */
    margin: 0;
    color: rgb(35, 35, 59);
}

ol,
ul {
	list-style: none;
	padding-inline: 0;
}

img {
	display: block;
	max-inline-size: 100%;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.glossy {
    background-color: rgba(35, 35, 50, 0.5);
	backdrop-filter: blur(10px);
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    /* outline:solid 2px rgba(255,255,255,0.2); */
}

/* ---------- Header and Navigation ---------- */

header {
	position: sticky;
	top: 25px;
	margin: 0px 2rem 2rem 2rem;
	z-index: 10;
	text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
	display: flex;
    align-items:center;
    text-align: center;
    padding: 0.8rem;
    border-radius: 20px;
    color: white;
}

.navLinks {
	font-size: 20px;
    font-weight: 600;
	display: flex;
	list-style:none;
    
    letter-spacing: 1px;
	gap: 30px;
    justify-content: center;
}

.navLinks a{
	text-decoration: none;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
	color: white;
}

.homeLogo {
    position: absolute;
    left: 30px;
    display: flex;
    align-items: center;
}

/* ---------- Footer ---------- */

footer {
	padding: 1rem;
	font-size: 1rem;
	letter-spacing: 0.05rem;
    background-color: var(--darkBlue);
}

.footerTop {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

footer p {
    color: white;
}

.copyright {
    text-align: center;
    font-size: 1rem;
}


.footerButton {
	padding: 0.5rem 1rem;
	border-radius: 5px;
	width: 10%;
	font-size: 1rem;
	text-align: center;
	text-decoration: none;
    border: 1px solid var(--lightBlue);
    background-color: rgba(255, 255, 255, 1);
}

.footerButton:link {
    color: white;
}

.footerButton:visited {
	color: var(--headerColor);
}