/* ---------- Document Structure ---------- */

html {
    scroll-behavior: smooth;
	outline: auto black;
	/* background-color: rgb(235, 235, 235); */
    background-color: rgba(188, 227, 250,0.1);

	/* --- Variables --- */
	font-family: "Open Sans", sans-serif;
	--normalFontSize: 24px;

	--darkBlue: rgb(35, 35, 59);
    --headerColor: rgba(44, 66, 104);

    --heroHeight: 10vh;
	/*--bgColor:;
    --secondaryBgColor:;
    --navColor:;
    --primaryColor:;
    --secondaryColor:;
    --tertiaryColor:;
    --primaryShadow:; 
    --transition:; */
}

header {
	/* outline: auto red; */
}

main {
    /* padding: 2rem; */
	outline: auto blue;
}

section,
form {
	padding: 0.5rem;
}

footer {
	outline: auto green;
}

h2{
    color: rgb(35, 35, 59);
}

ol,
ul {
	list-style: none;
	padding-inline: 0;
}

img {
	display: block;
	max-inline-size: 100%;
}

a {
    text-decoration: none;
}

/* ---------- Header and Navigation ---------- */

header {
	position: sticky;
	top: 25px;
	margin: 0px 2rem 2rem 2rem;
	z-index: 10;
    background-color: rgba(35, 35, 50, 0.5);
	backdrop-filter: blur(10px);
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
	text-align: center;
	border-radius: 20px;
    outline:solid 2px rgba(255,255,255,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
	display: flex;
    align-items:center;
    text-align: center;
    padding: 0.8rem;
    border-radius: 20px;
    color: white;
}

.navLinks {
	font-size: 20px;
    font-weight: 600;
	display: flex;
	list-style:none;
    
    letter-spacing: 1px;
	gap: 30px;
    justify-content: center;
}

.navLinks a{
	text-decoration: none;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
	color: white;
}

.homeLogo {
    position: absolute;
    left: 30px;
    display: flex;
    align-items: center;
}