/* ---------- Document Normalize and Structure ---------- */

@import "node_modules/modern-normalize/modern-normalize.css";

html {
	outline: auto black;
    background-color: white;

	/* --- Variables --- */
    font-family: 'Times New Roman', Times, serif;
    --normalFontSize: 24px;
  /*--bgColor:;
    --secondaryBgColor:;
    --navColor:;
    --primaryColor:;
    --secondaryColor:;
    --tertiaryColor:;
    --primaryShadow:; 
    --transition:; */

}

header {
	outline: auto red;
}

main {
	outline: auto blue;
}

footer {
	outline: auto green;
}

ol,
ul {
	list-style: none;
	padding-inline: 0;
}

img {
	display: block;
	max-inline-size: 100%;
}

/* ---------- Header and Navigation ---------- */

header {
    position: -webkit-sticky;
    position: sticky;
    /* height: auto; */
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    outline: lightpink auto;
}

.navLinks {
    display: flex;
    gap: 0.5rem;
    list-style: none;
}

.navLinks a {
    text-decoration: none;
}

.homeLogo {
    margin-right: auto;
}

/* ---------- Main Content ---------- */

main {
    padding: 1rem;
}

section .placeholderSection{
    outline: auto lightblue;
    padding: 0.5rem;
}

.placeholderSection{
    height: 1500px;
}

.hero {

    background-image: url('/images/Hero_Stock-People.jpeg');
    height: 500px; /* Full viewport height */
    width: 100%;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; /* Relative positioning for the absolute header */
}

/* ---------- Footer ---------- */

footer {
    padding: 1rem;
    text-align: center;
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
}

footer p {
    outline: auto lightgreen;
    padding: 0.5rem;
}